<div class="container-fluid p-5">
    <h2>Lista de Fornecedores</h2>
    <div style="text-align: end">
        <h4>atividade - Checkpoint</h4>
        <p>Guilherme Lima Oliveira - RM93401</p>
        <p>Guilherme Miguel Dornelas - RM94599</p>
    </div>
    <table class="table table-secondary table-striped-columns mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            @for (item of fornecedores; track $index){
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.cnpj }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.endereco }}</td>
                <td>{{ item.telefone }}</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row" >

      <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Editar Fornecedor</h5>
                <div class="mb-3">
                    <label for="editFornecedorId" class="form-label visually-hidden">ID do Fornecedor</label>
                    <input type="text" class="form-control" id="editFornecedorId" placeholder="ID do Fornecedor" [(ngModel)]="fornecedorIdEditar">
                </div>
                <form [formGroup]="fornecedorFormEditar" (ngSubmit)="editar()">
                    <input type="hidden" formControlName="id">
                    <div class="mb-3">
                        <label for="inputCnpjEditar" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="inputCnpjEditar" placeholder="CNPJ" formControlName="cnpj">
                    </div>
                    <div class="mb-3">
                        <label for="inputNomeEditar" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputNomeEditar" placeholder="Nome" formControlName="nome">
                    </div>
                    <div class="mb-3">
                        <label for="inputEnderecoEditar" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="inputEnderecoEditar" placeholder="Endereço" formControlName="endereco">
                    </div>
                    <div class="mb-3">
                        <label for="inputTelefoneEditar" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="inputTelefoneEditar" placeholder="Telefone" formControlName="telefone">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




        <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Inserir Fornecedor</h5>
                  <form [formGroup]="fornecedorForm" (ngSubmit)="inserir()">
                      <div class="mb-3">
                          <label for="inputCNPJ" class="form-label">CNPJ</label>
                          <input type="text" class="form-control" id="inputCNPJ" placeholder="CNPJ" formControlName="cnpj"/>
                      </div>
                      <div class="mb-3">
                          <label for="inputNome" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome"/>
                      </div>
                      <div class="mb-3">
                          <label for="inputEndereco" class="form-label">Endereço</label>
                          <input type="text" class="form-control" id="inputEndereco" placeholder="Endereço" formControlName="endereco"/>
                      </div>
                      <div class="mb-3">
                          <label for="inputTelefone" class="form-label">Telefone</label>
                          <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone" formControlName="telefone"/>
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Remover Fornecedor</h5>
                  <div class="mb-3">
                      <label for="removeFornecedorId" class="form-label visually-hidden">ID do Fornecedor</label>
                      <input type="text" class="form-control" id="removeFornecedorId" placeholder="ID do Fornecedor" [(ngModel)]="fornecedorIdRemover">
                  </div>
                  <button type="button" class="btn btn-danger" (click)="remover()">Remover</button>
              </div>
          </div>
      </div>
    </div>
  </div>
